#header {
    .padding-left-right-zero;

    .navbar {
        height: @custom-navbar-height;
        margin: @navbar-margin;
        background: @navbar-background;
        background-size: cover;
        font-family: @navbar-font-family !important;
        border: 0;
        border-radius: 0;
        .box-shadow(1px 1px 1px gray);
        z-index: 1000;

        .logo {

            img {
                width: @logo-width;
            }
        }

        #primary-menu, #primary-menu ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        #primary-menu {
            
            li {
                float: left;
                position: relative;

                a {
                    float: left;
                    line-height: @custom-navbar-height;
                    padding: @nav-item-padding;
                    color: @nav-item-color;
                    height: @nav-item-height;
                    font-size: @nav-item-font-size;

                    &:hover {
                        color: @nav-item-focus-color;
                        text-decoration: none;
                    }
                }

                &:hover {
                    ul {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                ul {
                    position: absolute;
                    padding: 0 0 10px 0;
                    opacity: 0;
                    visibility: hidden;
                    top: @nav-item-height;
                    background: @nav-item-submenu-background;
                    transition: all .2s ease-in-out;

                    li {
                        float: none;

                        &:first-child {
                            a:after {
                                    content: '';
                                    position: absolute;
                                    left: 40px;
                                    top: -6px;
                                    border-left: 6px solid transparent;
                                    border-right: 6px solid transparent;
                                    border-bottom: 6px solid @nav-item-submenu-background;
                            }
                        }

                        a {
                            background: @nav-item-submenu-background;
                            font-size: @nav-item-submenu-font-size;
                            color: @nav-item-submenu-color;
                            padding: @nav-item-submenu-padding;
                            min-width: @nav-item-submenu-min-width;
                            text-align: left;
                            font-weight: normal;
                            display: block;
                            white-space: nowrap;

                            &:hover {
                                background: @nav-item-submenu-focus-background;
                                color: @nav-item-submenu-focus-color;
                                border: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: @screen-md) {
    .logo {
        margin: @logo-margin !important;
    }
}

@media(max-width: @screen-md) {
    .logo {
        margin: 0 !important;
    }
}


.content-container {
	padding: 0;
	.content-title-div {
		background-color: @side-bar-title-block-color;
	}
	h1 {
		margin: 0;
		padding: @side-bar-h1-padding;
		color: @side-bar-h1-font-color;
		font-size: @side-bar-h1-font-size;
	}
	.content-description {
		padding: @isde-bar-description-padding;
	}
	
	.first-category-content {
		padding: @first-category-content-padding;
		a {
			color: #000;
			.image-borer {
				height: 90px;
				width: 90px;
				border-radius: 90px;
				overflow: hidden;
				float: left;
				img {
					margin: -15px -30px 15px -30px;
				}
			}
			.first-category-content-title {
				padding: @first-category-content-title-padding;
				text-align: left;
				padding: 35 0 0 120px;
			}
		}
		
	}
	
	#sidebar {
		width: 26%;
		float:left;
		padding: 40px 0 0 36px;
		font-family: '微软雅黑';
		
		ul {
			list-style: none;
			text-align: right;
			line-height: 25px;
			padding: 0;
			li {
				padding: 5px;
			}
			a {
				color: @h1-color;
				display: block;
				padding: 2px 30px 2px 0;				
			}
			
			.selected_item {
				background-color: @side-bar-title-block-color;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}
